{extend name="common/base" /}

{block name="main"}
<div class="site-block ">
    <div class="layui-form">
        <div class="layui-inline">
        <div class="layui-form-item" >
            <label class="layui-form-label">车牌：</label>
            <div class="layui-input-block">
                <input type="text" id="car" name="car" required  lay-verify="required" placeholder="请输入车牌" autocomplete="off" class="layui-input">
            </div>
        </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-item" >
        <label class="layui-form-label">预警时间：</label>
        <div class="layui-input-block">
            <select name="day" id="day" lay-verify="">
                <option value="1">24小时内</option>
                <option value="3">3天内</option>
                <option value="7" selected>7天内</option>
                <option value="15">15天内</option>
            </select>
        </div>
            </div>
        </div>

        <div class="layui-inline">
        <div class="layui-form-item">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search" data-type="reload">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>搜索
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
        </div>
    </div>
    <table id="demo" lay-filter="test" lay-data="{id: 'idTest'}"></table>
</div>


<script>
    layui.use([ 'table'], function(){
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        form.render(null, 'app-content-list');

        active = {
            reload: function () {

                var car = $('#car').val();
                var day = $('#day').val();

                //执行重载
                table.reload('demo', {
                    url: '/truck/public/index.php/truck/history/warningsboth'
                    ,where:{
                        car:car,
                        day:day
                    }

                    ,page: false
                });
            }
        };



        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function(data){
            var field = data.field;

            //执行重载
            table.reload('test-table-reload', {
                url: '/truck/public/index.php/truck/history/warningsboth'
                ,where:{
                    field
                }

                ,page: false
            });
        });


        table.render({
            elem: '#demo'
            ,height: 600
            ,url: '/truck/public/index.php/truck/history/warningsboth' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: '序号', width:80, sort: true, fixed: 'left'}
                ,{field: 'carNum', title: '车牌', width:120}
                ,{field: 'owner', title: '车主', width:200}
                ,{field: 'type', title: '违法类型', width:120}
                ,{field: 'alarmTime', title: '报警时间', width:220, sort: true}
                ,{field: 'currentSpeed', title: '报警车速(公里/小时)', width:160}
                ,{field: 'limitSpeed', title: '道路限速(公里/小时)', width:160}
                ,{field: 'durationTime', title: '违法时长', width:160}
                ,{field: 'address', title: '报警位置', width:220}
            ]]
        });


        $('.layui-btn.layuiadmin-btn-list').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });


</script>
{/block}